.login-page-wrapp {
  height: 100vh;
}

.login-form-wrap {
  width: 50%;
}

.login-form-wrap .form-card {
  max-width: 500px;
  width: 100%;
  margin-right: 30px;
}

.login-form-wrap .form-card .card-title {
  color: var(--gray);
}

.login-greeting-screen {
  background: var(--teal);
  width: 50%;
  padding: 20px;
}

.login-greeting-screen .login-greeting-screen-text {
  max-width: 500px;
}

.login-greeting-screen .login-greeting-screen-text {
  color: var(--white);
}

.login-greeting-screen .login-greeting-screen-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.login-greeting-screen .login-greeting-screen-description {
  line-height: 1.4;
}

.autocomplete-wrap {
  position: relative;
  width: 50%;
}

.autocomplete-input {
  width: 100%;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  border: 1px solid #97b46c;
  width: 100%;
  display: none;
  z-index: 9999;
  max-height: 400px;
  overflow-y: auto;
}

.autocomplete-wrap.active .autocomplete-list {
  display: block;
  border-radius: 0 0 3px 3px;
}

.autocomplete-item {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.autocomplete-item:hover,
.autocomplete-item.focused {
  background: #eee;
}

.autocomplete-wrap.active .autocomplete-input {
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid transparent;
}
